[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
flake8 = "*"
flake8-docstrings = "*"
black = {git = "https://github.com/psf/black.git",ref = "master",editable = true}
pytest = "*"
coveralls = "*"

[packages]
tabler = "*"
click = "*"
wootools = {editable = true,path = "."}

[requires]
python_version = "3.7"
